html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 50px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #FFCC80), color-stop(50%, #FFB74D), to(#FFA726));
  background-image: linear-gradient(to top, #FFCC80 30%, #FFB74D 50%, #FFA726);
  line-height: 1.4;
}

/* Carousel*/

#carousel {
  position: relative;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  padding: 5px 0 5px 5px;
  margin: 0 auto 2em;
  border: 1px solid #FFA726;
  background: #FFD180;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF3E0), color-stop(20%, #FFF3E0), color-stop(80%, #FFD180), to(#FFA726));
  background: linear-gradient(#FFF3E0, #FFF3E0 20%, #FFD180 80%, #FFA726);
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#carouselContainer {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}

#carouselContainerSlides img {
  width: 20%;
  height: auto;
  float: left;
}

.rightArrow,
.leftArrow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 2px solid #f9f4f4;
  border-radius: 50%;
  padding: 5px;
  background-color: #FFA726;
  cursor: pointer;
}

.rightArrow {
  right: 1%;
}

.leftArrow {
  left: 1%;
}

/***********************************************************/

/* Map*/

#map {
  margin: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#googleMap {
  width: 70%;
  height: 400px;
}

/************************************************************/

/* Aside */

aside {
  font-size: 0.9em;
  overflow-wrap: normal;
  padding: 10px;
  margin-left: 10px;
}

#stationDetails {
  width: 30%;
  word-wrap: break-word;
}

#details {
  border: 2px solid #ffb74d;
  -webkit-box-shadow: 2px 2px 2px 2px #ffb74d;
  box-shadow: 2px 2px 2px 2px #ffb74d;
  border-radius: 10px;
  background-color: #ffd180;
  height: 100%;
  text-align: center;
  line-height: 1.9;
}

#btn {
  border-radius: 10%;
  -webkit-box-shadow: 1px 1px 1px 0px #FFA726;
  box-shadow: 1px 1px 1px 0px #FFA726;
  border: 2px solid #FFA726;
  background-color: #f9f4f4;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}

/*************************************************************/

/* bikeReservation _ canvas*/

#bikeReservation {
  position: relative;
}

#canvas {
  position: absolute;
  right: -1%;
  border-radius: 10px;
  width: 29%;
  height: 190px;
  margin: 16px 0 10px 0;
  border: 2px solid #FFA726;
  -webkit-box-shadow: 2px 2px 2px 2px #FFA726;
  box-shadow: 2px 2px 2px 0 #FFA726;
  -ms-touch-action: none;
  touch-action: none;
}

/* Dessin du crayon*/

#crayon {
  position: absolute;
  right: 19%;
  width: 80px;
  height: 80px;
  top: 5px;
}

/* bouton de validation de la réservation*/

#confirm {
  position: absolute;
  right: 17%;
  top: 170px;
  border-radius: 10%;
  -webkit-box-shadow: 1px 1px 1px 0px #FFA726;
  box-shadow: 1px 1px 1px 0px #FFA726;
  border: 1px solid #FFA726;
  background-color: #f9f4f4;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}

/* bouton servant à effacer le contenu du canvas*/

#clear {
  position: absolute;
  right: 4%;
  top: 170px;
  border-radius: 10%;
  -webkit-box-shadow: 1px 1px 1px 0px #FFA726;
  box-shadow: 1px 1px 1px 0px #FFA726;
  border: 1px solid #FFA726;
  background-color: #f9f4f4;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}

/*******************************************************/

/* Footer*/

#validation {
  border: 1px solid #FFA726;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 16px 0 0 23px;
  -webkit-box-shadow: 1px 1px 1px 0 #FFA726;
  box-shadow: 2px 2px 2px 0 #FFA726;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }
  #carousel {
    width: 100%;
    padding: 0;
  }
  .rightArrow,
  .leftArrow {
    width: 10px;
    height: 10px;
  }
  #map {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
  }
  #googleMap {
    width: 100%;
  }
  #stationDetails {
    width: 100%;
    padding: 20px 0 20px 0;
    margin-left: 0;
  }
  #details {
    padding-bottom: 10px;
  }
  #canvas {
    width: 100%;
    margin-top: 30%;
  }
  #crayon {
    left: 5%;
    top: 95px;
  }
  #clear {
    top: 250px;
    right: 5%;
  }
  #confirm {
    top: 250px;
    left: 5%;
  }
  footer {
    text-align: center;
  }
}